# Database
*.db
*db-journal
*.sqlite
*.sqlite3

# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/

# Node / Next.js
node_modules/
.next/
out/
dist/
.turbo/
docs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Library/User files
logs/
local_library/

# ML models
*.pkl
*.pk1
*.h5
*.onnx
