fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
asyncmy
aiosqlite
email-validator
transformers
torch
accelerate
bitsandbytes
librosa
python-jose[cryptography]
passlib[bcrypt]
websockets
